body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.board {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    grid-gap:10px;
}
.cell {
    width: 100px;
    height: 100px;
    border: 5px solid rgb(178, 234, 117);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: black;
    color:white
}
p{
    font-size: 30px;
    color:white;
    margin: 2px;
    padding: 0;
}
h1{
    font-size: 70px;
    color:white;
    margin: -5px;
    padding: 0;
}

.result{

    height:100px;
    width: 300px;
    margin-top:25px;
    border-radius: 20px;
    background-color: black;
    border: 5px solid rgb(178, 234, 117) ;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.res{
    font-size: 50px;
}

@media screen and (max-width:500px) {
    .cell{
        height:50px;
        width: 50px;
        font-size: 24px;
    }
    .result{
        width: 100px;
        height: 50px;
    }
    .res{
        font-size: 13px;
    }
}